<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lyudmila.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Lyudmila.Client.Properties.Settings>
            <setting name="MusicDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>192.168.1.252</value>
            </setting>
            <setting name="AoE2HD_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF3_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Blur_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoD2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoD4_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoD5_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSGO_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDS_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoTA2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="L4D2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SC2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shootmania_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SWJK2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TF2_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UT3_Installed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AoE2HD_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="BF3_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Blur_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="CoD2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="CoD4_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="CoD5_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="CSGO_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="DoDS_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="DoTA2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="F2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="L4D2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="SC2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Shootmania_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="SWJK2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="TF2_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="UT3_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </Lyudmila.Client.Properties.Settings>
    </userSettings>
</configuration>
